<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_LavaCarlos_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-J2P57EB;integrated security=SSPI;initial catalog=LavaCarlos" />
        <add name="localhost_LavaCarlos_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=LavaCarlos" />
        <add name="localhost_LavaCarlos_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=LavaCarlos" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>